.rate_product{
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 0;
  height: 30px;
}
#rating_1{
  padding-left: 0;
}
#reviews_block{
  left: 20px;
}
.review{
  background-color: #ecf5fb;
  border-radius: 8px;
}
p.text_product,.review{
  padding: 20px;
}
.description{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.thumbnail{
  background-color: #e7e7e7;
}

.preview{
  background-color: #e7e7e7;
  width: 40%;
}

[ng\:cloak],[ng-cloak],.ng-cloak{
  display:none;
}
.badge-color{
 background-color:  #3678f1;
}
.badge-color_ful{
  background-color: #4fd654;
}
.save_post{
  margin-left: 14%;
}
.checkbox_save{
  display:none ;
}
#description{
  max-width: 600px;
}
div.add_post{
  min-height: 735px;
  border: 1px dotted #d1d1d1;
  border-radius: 8px;
  background-color: #d9edf7;
}


form .ng-pristine{
  border: 1px dotted gray;
  /*background-color: aqua;*/
}
form .ng-invalid-required.ng-dirty ,form .ng-touched.ng-empty{
  background-color: bisque;
}
form .ng-invalid-email.ng-dirty{
  background-color: red;
}
form .ng-valid.ng-dirty{
  background-color: #9bff94;
}


button{
  letter-spacing: 1px;
}
.col-md-offset-3 .col-md-4 .has-error .ng-binding{
  margin-left: 10px;
  color: lightsalmon;
}

.reg_dop{
  padding-top: 20px;

}
.has-error{
  margin-top: 10px;
  /*height:10px;*/
  color: #ff2e52;
}
.head-block,.footer-block{
  margin-top: 0px;
  height: 40px;
background-color: #002b48;
}
.head-block_2{
  height: 80px;
  background: url('../img/header.png') repeat;
  border-bottom: 1px solid #eee;
}
.col-md-1{
  border: 1px solid black;

}
.logo{
  padding-top: 5px;
}
.back-logo{
  padding-left: 80px;
  padding-top: 10px;
  height: 67px;
  opacity: 0.7;
}



div.vote-wrap{
  height: 36px;
  overflow: hidden;
}

div.vote-block{
  position: relative;
}

div.vote-hover{
  float: left;
  cursor:  pointer;
  margin-bottom: 10px;
}


div.vote-stars{
  position: absolute;
  left: 0;
  top: 0;
}

div.vote-active{
  position: absolute;
  left: 0;
  top: 0;
}

div.vote-result{
 display:none;
  color: #ccc;
  font-size: 14px;
  margin-top: 12px;
  padding-left: 190px;
}

div.vote-success{
  clear: both;
  font-size: 14px;
  margin: 10px 0 0 10px;
  z-index: 199;
  position: relative;
  left: 164px;
  top: -32px;
  width: 100px;
}