<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="title"
                   class="control-label col-md-6">Sort by:</label>
                <select name="titl"
                        class="form-control"
                        id="title"
                        required
                        ng-model="goodsCtrl.data">
                    <option value="tabs">
                        Samsung
                    </option>
                    <option value="iPad">
                        Apple
                    </option>
                    <option value="">
                        All
                    </option>
                </select>
        </div>
    </div>
    <div class=" col-md-9">
        <div class="row content_bloc"
             ng-cloak>
                    <div class="col-md-3 col-sm-6"
                         ng-repeat-start="item in goodsCtrl.goods |filter:{category:goodsCtrl.data}">
                        <div class="thumbnail">
                            <a href="#!/more/{{item.id}}"
                               class="block">
                                <img src="{{item.img}}"
                                     alt="goods"
                                     class="preview">
                                </a>
                            <div class="caption text-center">
                                <h3>
                                    {{item.title}}
                                </h3>
                                <hr>
                                <p class="description">
                                    {{item.description}}
                                </p>
                                <p>
                                    <a href="#!/more/{{item.id}}"
                                       class="btn btn-primary">More...
                                    </a>

                                </p>
                            </div>
                        </div>
                    </div>
                <div ng-if="(($index+1)%4==0&&$index!==0)?true:false;"
                     class="clearfix"></div>
                <span ng-repeat-end>
                </span>
        </div>
        </div>
</div>